body {
    font-family: monospace;
    background-image: url("background.jpg");
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto; background-color: #000000; 
    border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 50%;
    align-items: center;
    margin: 10px auto;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font: size 300px;;
    color: white;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    font: size 100px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"],
button {
    margin-bottom: 20px;
    width: 50%;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    border-radius: 30px;
    background-color: black; /* Change the background color on hover */
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

p {
    text-align: center;
    font:size 50px;
}

a {
    color: #4caf50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
section{
   
    width: 50%;
    align-items: center;
    margin: 200px auto;
    padding: 10%;
    background-color: rgb(228, 228, 228);

}